[[source]]
name = "pypi"
url = "https://pypi.unifiedlayer.com/root/stable/+simple/"
verify_ssl = true

[dev-packages]
pytest = "==5.4.3"
black = "==20.8b1"
pylint = "==2.6.0"
bandit = "==1.6.2"
flake8 = "==3.8.4"
typed-ast = "==1.4.1"
safety = "==1.9.0"

[packages]
flask = "==1.1.2"
gunicorn = "==20.0.4"
python-dotenv = "==0.15.0"
requests = "==2.24.0"

[requires]
python_version = "3.8"
